*{
    box-sizing: border-box;
    /* padding: 0px; */
    margin: 0px;  
}

body{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container{
    background-color: rgb(29, 29, 224, 0.5);
    width: 60%;
    margin: auto;
    padding: 70px 50px;
}